#
#  direnv export environment variables file.
#               

## KUBECONFIG (config file with keys for operating kubernetes cluster)
export KUBECONFIG=$HOME/.kube//Users/grenes/.kube/config-k8s-mod

