#
#  direnv export environment variables file.
#               

## KUBECONFIG (config file with keys for operating kubernetes cluster)
export KUBECONFIG=$HOME/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube//Users/grenes/.kube/config-k8s-mod


# minio-studio environment variable
export MC_HOST_minio="https://$(kubectl -n=miniostalone get secrets minio-creds-secret -o jsonpath={.data.root-user} | base64 --decode):$(kubectl -n=miniostalone get secrets minio-creds-secret -o jsonpath={.data.root-password} | base64 --decode)@miniostalone.pro.cskylab.net"
