#
#  direnv export environment variables file.
#               

## KUBECONFIG (config file with keys for operating kubernetes cluster)
export KUBECONFIG=$HOME/.kube/{{ .kubeconfig }}


# minio-studio environment variable
export MC_HOST_minio="https://$(kubectl -n={{ .namespace.name }} get secrets minio-creds-secret -o jsonpath={.data.root-user} | base64 --decode):$(kubectl -n={{ .namespace.name }} get secrets minio-creds-secret -o jsonpath={.data.root-password} | base64 --decode)@{{ .publishing.url }}"
