#
#  direnv export environment variables file.
#               

## Use vscode as kubectl editor
export KUBE_EDITOR="code --wait"

## KUBECONFIG (config file with keys for operating kubernetes cluster)
export KUBECONFIG=$HOME/.kube/config-k8s-mod
