#
#  direnv export environment variables file.
#               

## KUBECONFIG (config file with keys for operating kubernetes cluster)
export KUBECONFIG=$HOME/.kube/{{ .kubeconfig }}

# {{ .namespace.name }} environment variable
export MC_HOST_minio="https://{{ .credentials.minio_accesskey }}:{{ .credentials.minio_secretkey }}@{{ .publishing.miniourl }}"
