#
#  direnv export environment variables file.
#               

## KUBECONFIG (config file with keys for operating kubernetes cluster)
export KUBECONFIG=$HOME/.kube/{{ .kubeconfig }}

# {{ .namespace.name }} environment variable
export MC_HOST_minio="https://$(kubectl -n={{ .namespace.name }} get secrets {{ .namespace.name }}-secret -o jsonpath={.data.accesskey} | base64 --decode):$(kubectl -n={{ .namespace.name }} get secrets {{ .namespace.name }}-secret -o jsonpath={.data.secretkey} | base64 --decode)@{{ .namespace.name }}.cskylab.net"
