#
#  direnv export environment variables file.
#               

## KUBECONFIG (config file with keys for operating kubernetes cluster)
export KUBECONFIG=$HOME/.kube/config-k8s-pro


# minio-gitlab environment variable
export MC_HOST_minio="https://$(kubectl -n=gitlab get secrets gitlab-minio-secret -o jsonpath={.data.accesskey} | base64 --decode):$(kubectl -n=gitlab get secrets gitlab-minio-secret -o jsonpath={.data.secretkey} | base64 --decode)@minio-gitlab.pro.cskylab.net"
